*{
    margin: 0px;
    padding: 0px;
    font-family:'cairo', sans-serif;
   
}

.navbar-brand img {
    height: 70px;
}
.nav-item{
    text-align: left;
}
.navbar-toggler{
    border: none;
}
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(142,206,239,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  }
  /* end of nav bar--------------------------------------------------------------------------*/
  
  .wrapper .row>div{
      height: 500px;
      

  }
  .col-sm-5 img{
      width: 100%;
    
  }
  .col-sm-7{
      background-image: url(../imgs/header1-side.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      left:0px;
  }
  .col-sm-7 h1{
      margin-top:10% ;
  }
  .container #text>div{
      height:100px;
      margin-top: 5%;
  }
  hr{
    border: 1px solid rgba(142,206,239,1);
    width: 6%;
    margin: auto;
}
/*من نحن----------------------------------------------------------------------------------------------*/
#secondRow>div{
    height: 600px;
  
}
.col-sm-6 p{ 
    margin-top:10%;
    padding:20px;
    font-size:18px;
    font-weight:400;
    line-height:3rem;
    
  }
 /*---------------------------------------مانقدمه لكم-------------------------------------------*/
 .offer .container-fluid{
     margin-top:3%;
    background-image: url(../imgs/we-offer.png);
    background-position:center;
    background-size: cover;


 }

  .owl-carousel{

      margin:0px;
      padding:12%;
      padding-top:7%;
      padding-bottom: 5%;
  }
 .owl-prev ,.owl-next{
      width:40px!important;
      font-size: 30px!important;
      margin: auto!important;
      margin-top: 5%!important;
         
  }
 
  .owl-carousel .card{
    margin-right:5% ;
    border-radius: 20px;
    

 
  }
  .owl-carousel .card img{
      margin-right:20%;
      margin-left: 10%;
      margin-top: 5%;
     

    
}
/* end of carousel-------------------------------------------------------------------------*/
.card-title{
    color: rgba(142,206,239,1);
}
/*بعض اعمالنا---------------------------------------------------------------------------*/
.ourWorks{
    margin-top:100px;
   
}
.ourWorks .container-fluid{
    background-image: url(../imgs/bg30-Ar1web.gif);
   
}
.ourWorks .row{
    margin: auto;
    column-gap:20px;
  
}

.ourWorks  .card{
    border-radius: 20px;
    margin:auto;
    position: relative;
  }
  .ourWorks h6{
      color: black;
      text-align: center;
      
  }
  .ourWorks .card a{
      position:absolute;
      top: 0px;
      bottom:0px ;
      left: 0px;
      right: 0px;
      z-index: 2;

      

  }
.ourWorks .card img{
    width: 100%;
    margin: 0px;
    border-radius: 20px;

}
.btn-dark{
    width: 300px;
    border-radius: 30px;
}

.owl-next:focus, .owl-prev:focus {
    outline: none!important;
}
/*article----------------------------------------------------------*/
.article{
    padding: 5%;
}
.article .container-fluid .rowf{
    column-gap: 10%;
}
.article .container-fluid .row .card{
    margin:auto; 
    height:90%;
    border-radius: 20px;
   
}
.article .container-fluid .row .card img{
    border-radius: 20px;

}
.article .container-fluid .row .card  button{
    margin-left: 210px;
    width:90px;
}
.article .container-fluid .row .card  .col-sm-4{
 
    text-align: end;

}
/*OWEL CAROUSEL   CLIENTS------------------------------------*/
.client{
    height:auto;

}
.client .col-sm-12{
    height:75px;
}
.client .container-fluid{
    background-image: url(../imgs/our-client-bg.jpg);
    background-position: bottom;
    background-size: cover;

}
.client .container-fluid .owl-carousel{
    height:400px;
    
    background-repeat: no-repeat;
    
}
.client .container-fluid .owl-carousel img{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 10%;
    border-radius:20px ;

}
/*----------------------------------FOOTER-----------------------------------------*/
.page-footer{
   

}
.page-footer .container-fluid{
    background-image: url(../imgs/footer.jpg);
    background-position: bottom;
    background-size: cover;
  
  
  
}

.page-footer .container-fluid .row .col-sm-12{
    background-color: white;
    width:30%;
    height: auto;
    margin: auto;
    margin-top: 100px;

}
.page-footer .container-fluid .row .col-sm-6{
    margin-top:4%;
 
}
.page-footer .container-fluid .row .col-sm-6 img{
    margin-top:7%;
    margin-left:23%;
    

}
.page-footer .container-fluid .row .col-sm-2,.page-footer .container-fluid .row .col-sm-4{
    margin: auto;
}
.page-footer .container-fluid .row .col-sm-6 img{
  
}
.page-footer .container-fluid .row .col-sm-4 p,h5{
    color: white;
    margin-right:-380px;

}
.page-footer .container-fluid .row .col-sm-4 h5{
    margin-right: -510px;
}
.page-footer .container-fluid .row .col-sm-4 p{
    font-size: 14px;
}
.page-footer .container-fluid .row .col-sm-6 img{
    height:300px;

    
}
.page-footer .container-fluid .row .col-sm-4 h5{
    color: white;
    margin-top:0px;
  
    
}
.page-footer .col-sm-10 h5{
    padding: 0px;
    margin-top:10px ;
    margin-bottom: 0px;


}
.page-footer .col-sm-10 p{
    font-size: 10px;
    margin-top:0px;
}

.works .container-fluid{
    background-image: url(../imgs/bg30-Ar1web.gif);
    height: auto;
   
   
   
}
.works .container-fluid .row{
    margin:30px;
}

.works  .container-fluid .row .col-sm-3{
    border: 2px solid yellow;
    margin: auto;

}

h4 {
    height: 10rem;
    background: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
}
 







  
  
  

 