/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans HK', sans-serif;
  background: #fff;
}*/
.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  /*background: #ff9966; /* fallback for old browsers 
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*color: #fff;*/
}
.slider-card {
  height:auto;
  padding: 0px 0px;
  margin-top: 50px;
  /*margin: 50px -10px 90px 15px; */
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
 
}
.slider-card img {
    border-radius: 20px;
  /*border-radius: 5px 5px 0px 0px;*/
 
}


.owl-nav .owl-prev {
  position: absolute;
  width:25px !important;
  height:30px !important ;
  top: calc(10px - 25px);
  left:47%;
  opacity: 1;
  font-size: 20px !important;
  z-index: 1;
  color: white !important;
  background-color:black !important;
  border-radius:5px !important;
 
  
}
.owl-nav .owl-next {
  position: absolute;
  width:25px !important;
  height:30px !important ;
  top: calc(10px - 25px);
  left: 50%;
  opacity: 1;
  font-size: 20px !important;
  z-index: 1;
  color: white !important;
  background-color:black !important;
  border-radius:5px !important;
  
  
 
}

  



